.bold {
    font-weight: bold;
}

.btn-play {
    padding: 0px 6px;
}

.fa-play {
    color: #fff;
}

.notifications {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 50%;
}